{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'news/fontawesone.min.css' %}">
    <link rel="stylesheet" href="{% static 'news/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'news/styles.css' %}">
    <title>Hacker News</title>
</head>
<body>
    <header class="columns">
        <div class="column is-10-widescreen is-pulled-left">
            <h1 class="has-text-centered">Hacker News</h1>
        </div>
        <div class="column is-2-widescreen is-pulled-right">
            <form action="" method="get" class="form">
                <div class="field">
                    <div class="control has-icon-left">
                        <input class="input pull-left" type="search" name="search" id="">
                        <span class="icon is-small is-left"><i class="fa fa-search"></i></span>
                    </div>
                    <button type="submit" class="button pull-right">Search</button>
                </div>
            </form>
        </div>
    </header>

    <main class="container columns is-fullwidth">
        <nav class="column is-3-widescreen is-5-desktop">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, 
            ab deserunt unde doloribus quos quis? Dolorem, temporibus eos 
            omnis in error, odio iure natus deleniti quis nulla nobis corrupti 
            reiciendis!
        </nav>
        <section class="column is-9-widescreen is-7-desktop">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus 
            maiores a dignissimos excepturi quos esse, accusamus sapiente est 
            minima cum quasi ab iure distinctio neque ea enim laborum rerum 
            reiciendis?
            Alias animi dolorem nesciunt ducimus omnis possimus et nam rem. 
            Molestiae illo libero blanditiis, debitis asperiores impedit 
            illum harum facilis nisi rem. Ipsam debitis a blanditiis rem 
            sint officia numquam.
            Eligendi quo natus nam reprehenderit, dignissimos architecto veniam 
            minima deserunt atque, debitis odio fugit, numquam libero laudantium 
            sit? Officiis ipsum nam tempore ipsa quam obcaecati accusamus fugiat 
            totam veritatis debitis?
            Illum vitae tempore officiis modi sit harum recusandae quis aliquam 
            excepturi placeat quam sapiente eaque quod cum, impedit sint adipisci 
            repellat alias ab facilis? Quia voluptates recusandae nihil nobis quas.
        </section>
    </main>

</body>
</html>